@import '../../global';
@import '../../mixins/actionable';
@import '../../mixins/typography';

.inputwrapper {
  width: auto;
  display: inline-block;

  &__block {
      display: block;
      width: 100%;

      .input {
        width: 100%;
      }
  }
  
  &_input {
      @include actionable;

      display: flex;
      justify-content: space-between;
      align-items: center;

      &:active,
      &:focus-within {
        border-color: color('primary');
      }
  }

  &_eye {
    cursor: pointer;
    outline: none;

    &:active,
    &:focus {
      color: color('primary');
    }
  }

  &_icon,
  &_eye {
    margin-right: $push;

    height: 20px;
    width: 20px;

    svg {
      height: inherit;
      width: inherit;
    }
  }
}

.input {
  padding: 0px;
  margin: 0px;
  border: none;

  @include body;

  width: 200px;

  outline: none;

  &::placeholder {
    color: color('gray', -1);
  }
}