@import '../../global';
@import '../../mixins/actionable';
@import '../../mixins/typography';

.inputwrapper {
  box-sizing: border-box;

  width: auto;
  display: inline-block;

  &__block {
      display: block;
      width: 100%;

      .input {
        width: 100%;
      }
  }
  
  &_input {
      @include actionable;

      padding: 0px $padding;

      display: flex;
      justify-content: space-between;
      align-items: center;

      &__no_border {
        border-color: color('white') !important;
      }

      &:active,
      &:focus-within {
        border-color: color('primary');
      }
  }

  &_eye {
    cursor: pointer;
    outline: none;

    &:active,
    &:focus {
      color: color('primary');
    }
  }

  &_icon,
  &_eye {
    margin-right: $push;

    height: 20px;
    width: 20px;

    svg {
      height: inherit;
      width: inherit;
    }
  }
}

.input {
  padding: 0px;
  margin: 0px;
  border: none;

  @include action;

  width: 350px;

  outline: none;

  &::placeholder {
    color: color('gray', -1);
  }

  &__small {
    @include action_small;
  }
}