@import "../../global";
@import "../../mixins/actionable.scss";
@import "../../mixins/typography.scss";

.button {
  @include actionable;
  @include body;
  width: auto;

  white-space: nowrap;

  cursor: pointer;

  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  &__primary {
    color: color("white");
    background-color: color("primary");

    &:active,
    &:focus {
      background-color: transparentize(color("primary"), 0.25);
    }
  }

  &__secondary {
    color: color("white");
    background-color: color("secondary");

    &:active,
    &:focus {
      background-color: transparentize(color("secondary"), 0.25);
    }
  }

  &__success {
    color: color("white");
    background-color: color("success");

    &:active,
    &:focus {
      background-color: transparentize(color("success"), 0.25);
    }
  }

  &__danger {
    color: color("white");
    background-color: color("danger");

    &:active,
    &:focus {
      background-color: transparentize(color("danger"), 0.25);
    }
  }

  &__light {
    color: color("typography");
    background-color: color("light-gray");

    &:active,
    &:focus {
      background-color: transparentize(color("light-gray"), 0.25);
    }
  }

  &__transparent {
    color: color('white');
    background-color: transparentize(color("light-gray"), 0.75);

    &:active,
    &:focus {
      background-color: transparentize(color("light-gray"), 0.9);
    }
  }

  &__block {
    width: 100%;
  }

  &__reverse {
    flex-direction: row-reverse;

    .button_icon {
      margin-right: 0px;
      margin-left: $push-sm;
    }
  }

  &_icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-right: $push-sm;
  }
}
