@import '../../global';
@import '../../mixins/typography.scss';
@import '../../mixins/actionable';
@import '../../mixins/floating';

.select {
  @include actionable;
  background-color: color('white');

  border: $border-default;
  border-color: color('light-gray');

  display: flex;
  align-items: center;

  &_wrapper {
    position: relative;
  }

  &__multiple {
    height: auto;
    min-height: 42px;
  }

  &__open {
    @include focus;
  }

  &__empty {
    color: color('gray');
  }

  &__no_border {
    border-color: color('white') !important;
  }

  &__small {
    @include body_small;
  }

  &__inverse {
    border-color: color('dark-gray');

    color: color('white');
  }

  &_input {
    @include body;

    display: inline-block;
    width: auto;

    user-select: none;

    &__multiple {
      min-width: 200px;
      width: auto;

      height: auto;
      max-height: none;

      padding: $padding_sm 0;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(max-content, 125px));
      gap: $push_sm;
    }

    &_value {
      @include body_small;

      padding: $padding-sm $padding;

      background-color: color('primary');
      color: color('white');

      border-radius: $border-radius;

      display: inline-flex;
      justify-content: space-between;
      align-items: center;

      &_label {
        margin-right: $push-sm;
      }
    }

    &_indicator {
      margin-left: $push;
    }
  }

  &_options {
    @include floating;

    position: absolute;

    top: calc(100% + #{$push});

    min-width: 200px;

    z-index: 1;

    background-color: color('white');

    &__inverse {
      background-color: color('dark-gray');
    }

    &_empty {
      @include body;

      text-align: center;

      margin: $push-sm 0;

      display: block;
    }
  }

  &_option {
    outline: none;

    padding: $padding;

    &:focus {
      background-color: color('light-gray');
    }

    &:hover {
      background-color: color('light-gray');

      cursor: pointer;
    }

    &__inverse {
      color: color('white');

      &:focus,
      &:hover {
        background-color: color('dark-gray', -1);
      }
    }
  }
}
