@import '../../global';
@import '../../mixins/typography.scss';
@import '../../mixins/actionable';
@import '../../mixins/floating';

.select {
  @include actionable;
  background-color: color('white');

  border: $border-default;
  border-color: color('light-gray');

  display: flex;
  align-items: center;

  &__open {
    @include focus;
  }

  &__empty {
    color: color('gray');
  }

  &__no_border {
    border-color: color('white') !important;
  }

  &__small {
    @include body_small;
  }

  &_input {
    @include body;

    display: inline-block;
    width: auto;

    user-select: none;

    &__multiple {
      min-width: 200px;
      width: auto;

      display: flex;
    }

    &_value {
      @include body_small;

      margin: 0 $push-sm;
      padding: $padding-sm;

      background-color: color('primary');
      color: color('white');

      border-radius: $border-radius;

      display: flex;
      justify-content: space-between;
      align-items: center;

      &_label {
        margin-right: $push-sm;
      }

      &_close {
        transform: scale(.75);
      }
    }

    &_indicator {
      margin-left: $push;
    }
  }

  &_options {
    @include floating;

    position: absolute;

    top: 65px;

    min-width: 200px;

    z-index: 1;

    background-color: color('white');

    &_empty {
      @include body;

      text-align: center;

      margin: $push-sm 0;

      display: block;
    }
  }

  &_option {
    outline: none;

    padding: $padding;

    &:focus {
      background-color: color('light-gray');
    }

    &:hover {
      background-color: color('light-gray');

      cursor: pointer;
    }
  }
}
