@import '../../global';
@import '../../mixins/typography.scss';
@import '../../mixins/actionable';
@import '../../mixins/floating';

.select {
  @include actionable;

  padding: 0px $padding;

  position: relative;

  display: flex;
  align-items: center;

  &__open {
    @include focus;
  }

  &__empty {
    color: color('gray');
  }

  &_input {
    width: 200px;

    user-select: none;

    &__multiple {
      min-width: 200px;
      width: auto;

      display: flex;
    }

    &_value {
      @include action_small;

      margin: 0 $push-sm;
      padding: $padding-sm;

      background-color: color('primary');
      color: color('white');

      border-radius: $border-radius;

      display: flex;
      justify-content: space-between;
      align-items: center;

      &_label {
        margin-right: $push-sm;
      }
    }
  }

  &_options {
    @include floating;

    position: absolute;

    margin-top: $push_sm;

    min-width: 200px;

    z-index: 1;

    background-color: color('white');

    &_empty {
      @include action;

      text-align: center;

      margin: $push-sm 0;

      display: block;
    }
  }

  &_option {
    outline: none;

    padding: $padding;

    &:focus {
      background-color: color('light-gray');
    }

    &:hover {
      background-color: color('light-gray');

      cursor: pointer;
    }
  }
}
