@import '../../global';
@import '../../mixins/actionable';
@import '../../mixins/typography';

.calendar {
  box-sizing: border-box;

  padding: $padding;
  padding-bottom: 0;

  width: 305px;

  background-color: color('white');

  &__inverse {
    background-color: color('dark-gray');
  }

  border-radius: $border-radius;

  &_top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: $push;

    &_year {
      margin: 0px;
      padding: 0px;

      border: $border-default color('light-gray');
      border-radius: $border-radius;
      outline: none;

      text-align: center;

      @include body;

      font-weight: 600;

      width: 50px;

      &__inverse {
        border-color: color('gray', -2);
        color: color('white');

        background-color: color('dark-gray');
      }
    }
  }

  &_weekdays {
    display: flex;
    justify-content: space-around;
  }

  &_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_days {
    display: grid;
    grid-template-columns: repeat(7, max-content);
    grid-template-rows: repeat(5, max-content);
    grid-column-gap: $push-sm;
    grid-row-gap: $push-sm;

    padding: $padding;

    &_day {
      height: 18.5px;

      display: flex;
      justify-content: center;
      align-items: center;

      border: $border-default transparent;
      border-radius: 50%;
      padding: $padding-sm;

      outline: none;

      &:hover,
      &:focus {
        @include focus;
        cursor: pointer;
      }

      &__selected {
        border-color: color('primary');
        background-color: color('primary');
      }

      &__disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: $opacity-low;
      }
    }
  }
}
