@import '../../global';

.divider {
  width: 100%;
  margin-bottom: $push;

  border-bottom: $border-default color('light-gray');
  border-bottom-style: solid;

  &__dashed {
    border-bottom-style: dashed;
  }

  &__inverse {
    border-color: color('dark-gray');
  }
}
