@import '../../global';
@import '../../mixins/queries.scss';

.modal {
  background-color: rgba(#000000, 0.25);
  
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  width: 100vw;
  height: 100vh;

  &-body {
    background-color: color('white');

    width: 50vw;
    height: auto;

    margin-bottom: 25vh;
    
    border: $border-default color('gray');
    border-radius: $border-radius;

    padding: $padding;

    &-header {
      margin-bottom: $push;
    }

    &-content {
      padding: $padding $padding-lg;
    }

    &-footer {
      display: flex;
      justify-content: flex-end;

      padding-top: $padding;
    }
  }
}
