@import '../../global';
@import '../../mixins/queries.scss';
@import '../../mixins/floating.scss';

.modal {
  background-color: transparentize(color('black'), 0.75);

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  width: 100vw;
  height: 100vh;

  &_body {
    @include floating;

    background-color: color('white');

    width: 50vw;
    height: auto;

    margin-bottom: 25vh;

    padding: $padding;

    &_header {
      margin-bottom: $push;

      display: flex;
    }

    &_footer {
      display: flex;
      justify-content: flex-end;

      padding-top: $padding;
    }
  }
}
