@import '../../global';
@import '../../mixins/actionable';
@import '../../mixins/typography';

.datepicker {
  position: relative;

  &_calendar {
    position: absolute;

    top: 100%;

    z-index: 2;
  }
}