@import '../../global';
@import '../../mixins/actionable';

.numberinput {
  @include actionable;

  width: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px;

  &:hover,
  &:focus {
    @include focus;
  }
}
