@import '../../global';
@import '../../mixins/actionable';

.checkbox {
  &_wrapper {
    display: flex;
  }

  &_input {
    @include actionable;
    background-color: color('white');

    border: $border-default;
    border-color: color('light-gray');

    &:focus {
      @include focus;
    }

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px;
    margin-right: $push_sm;

    width: 18px;
    height: 18px;

    color: color('white') !important;

    &__checked {
      border-color: color('primary') !important;
      background-color: color('primary') !important;
    }

    &__inverse {
      background-color: color('dark-gray');
      border-color: color('dark-gray', 1);
    }
  }
}
