@import '../global';
@import '../mixins/typography.scss';

@mixin actionable {
  outline: none;

  position: relative;

  box-sizing: border-box;
  
  border-radius: $border-radius;

  height: 42px;

  padding: 0px $padding_lg;
  transition: all 100ms;

  &__danger {
    border-color: color('danger');
    color: color('danger');
  }

  &__success {
    border-color: color('success');
    color: color('success');
  }

  &:disabled,
  &__disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: $opacity-md;
  }

  &__small {
    @include body_small;

    height: 32px;
    padding: 0px $padding;
  }

  &__inverse {
    background-color: transparentize(color('light-gray'), 0.75);

    &:active,
    &:focus,
    &:focus-within {
      background-color: transparentize(color('light-gray'), 0.9);
    }
  }
}
