@import url("https://use.typekit.net/fuj5cpq.css");

$colors: (
  'primary': #2F7AFD,
  'secondary': #FF4A49,
  'success': #00AC1E,
  'warning': #ffb400,
  'danger': #E91A13,
  'typography': #484848,
  'black': #131314,
  'gray': #E3E4E6,
  'light-gray': #f9fafc,
  'dark-gray': #88898A,
  'white': #FFFFFF,
);

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;

$title-family: 'proxima-nova', -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
$action-family: 'proxima-nova', -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
$font-family: 'proxima-nova', -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

$font-color: color('typography');
$font-color-inverted: color('white');

$font-size: 16px;
$font-line-height: 24px;

$font-size-small: $font-size - 2px;
$font-line-height-small: $font-line-height - 6px;

$heading-size-1: ceil($font-size * 2.71);
$heading-size-2: ceil($font-size * 2.14);
$heading-size-3: ceil($font-size * 1.71);
$heading-size-4: ceil($font-size * 1.42);
$heading-size-5: $font-size;

$border-radius: 6px;
$border-default: 1.5px solid;

$padding: 12.5px;
$padding-lg: $padding * 2;
$padding-sm: $padding / 2;

/* 
    Push determines how far elements are pushed away 
    from eachother using margins.
*/
$push: 12.5px;
$push-lg: $push * 2;
$push-sm: $push / 2;
$push-icon: 5px;

$opacity-high: 0.75;
$opacity-md: 0.5;
$opacity-low: 0.25;

$shadow: rgba(0, 0, 0, 0.14902) 0px 2px 8px;
$shadow_lg: rgba(26, 26, 29, 0.298039) 0px 15px 46px -10px;

@function color($key: 'primary', $change: 0) {
  $color: map-get($colors, $key);

  @if $change>2 or $change < -2 {
    @error "Tint value set too high or too low: #{$change} >2<";
  }

  @if $change>0 {
    $value: 25% * $change;
    $color: lighten($color, $value);
  }

  @if $change < 0 {
    $value: -25% * $change;
    $color: darken($color, $value);
  }

  @return $color;
}

@mixin focus {
  border-color: color('primary');
}