@import '../../global';

.image {
  width: 100%;
  height: 100%;

  object-fit: cover;
  
  &__bordered {
    border-radius: $border-radius * 2;
  }

  &_placeholder {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
