@import '../../global';

.image {
  width: inherit;
  height: inherit;

  object-fit: cover;

  &__bordered {
    border-radius: $border-radius * 2;
  }

  &-wrapper {
    height: inherit;
    width: inherit;
  }

  &_placeholder {
    height: inherit;
    width: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
