@import '../../global';
@import '../../mixins/typography.scss';

.message {
  @include body_small;

  display: block !important;

  height: auto !important;
  max-height: none;

  text-align: center;

  padding: $padding;
  margin-bottom: $push;

  border-radius: $border-radius;
 
  &__primary {
    background-color: color('primary');
    color: color('white');
  }

  &__secondary {
    background-color: color('secondary');
    color: color('white');
  }

  &__light {
    color: color('typography');
    background-color: color('light-gray');
  }

  &__success {
    background-color: color('success');
    color: color('white');
  }

  &__warning {
    background-color: color('warning');
    color: color('white');
  }

  &__danger {
    background-color: color('danger');
    color: color('white');
  }

  &_closeable {
    display: flex;
    justify-content: flex-end;

    div {
      transform: scale(.75) translateY(-5px);
    }
  }
}
